<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blood">
<!--SMS PERMISSION-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SimpleBlog"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sms"></activity>
        <activity android:name=".Find_and_confirm_popup" />
        <activity android:name=".Blood_group_popup" />
        <activity android:name=".Recomended" />
        <activity android:name=".Search_popup" />
        <activity android:name=".Email_popup" />
        <activity android:name=".List_Of_Users" />
        <activity
            android:name=".Request_page"
            android:noHistory="true" />
        <activity
            android:name=".Updateprofile"
            android:noHistory="false" />
        <activity
            android:name=".Profile"
            android:noHistory="true" />
        <activity
            android:name=".Next1"
            android:noHistory="false" />
        <activity
            android:name=".Success"
            android:noHistory="true" />
        <activity
            android:name=".Phonesignup"
            android:noHistory="true" />
        <activity
            android:name=".Next"
            android:noHistory="true" />
        <activity
            android:name=".VerifyPhone"
            android:noHistory="false" />
        <activity
            android:name=".SignUp"
            android:noHistory="true" />
        <activity android:name=".Login" />
        <activity
            android:name=".Splash"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>